*.so
build/
.vscode/c_cpp_properties.json
.vscode/settings.json
opendiff.egg-info/
tests/.ipynb_checkpoints/materials-checkpoint.ipynb
opendiff.cpython-38-x86_64-linux-gnu.so
*.pyc
docs/examples/*
gcc_options.txt
.coverage
